/* Customer Service info into small Left container */
.telEmailCS {
  text-align: center;
  padding: 10px;
}

.telEmailCS h4 {
  margin-bottom: 10px;
}

.telEmailCS p {
  font-size: small;
  text-align: left;
}

.solidLine {
  margin: 10px 0px;
}

/* Form container */
form.contactForm {
  display: inline-flexbox;
  margin-left: -14em;
  padding: 1em;
  background: #ffffff;
}

div.inputRow {
  margin: 0.7em;
}

input,
textarea {
  width: 30em;
}

/* General styling look for all imputs across the form */
.inputRow input[type="text"],
.inputRow input[type="email"],
.inputRow select,
.inputRow textarea {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0;
  padding: 0.3em;
}

/* Message area */
.inputRow textarea {
  height: 12em;
}

/* Submit button at the bottom of the form */
.inputRow input[type="button"] {
  border: 3px solid #55021e;
  background-color: #990033;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 600;
  width: 17.3em;
  text-align: center;
  margin-top: 0.5em;
  border-radius: 1em;
  cursor: pointer;
  float: center;
  text-transform: uppercase;
  transition: 0.4s;
}

input[type="button"]:hover {
  background-color: #ffffff;
  color: #990033;
  border: 3px solid #990033;
  transition: 0.4s;
}

.sidedP {
  display: inline-block;
  vertical-align: top;
}

div.sidedP {
  width: 7em;
  margin-top: 0.3em;
  text-align: left;
}
/* Drop-down menu colour */
select {
  background-color: #f1f1f1;
}

/* Media Queries below */
@media screen and (max-width: 600px) {
  img {
    max-width: 100%;
  }
}
