* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: arial, sans-serif;
  position: relative;
}

/* for screen readers only - text will be not visible*/
/* the clip property is deprecated. It works on older browsers */
.screenReaderOnly {
  border: 0;
  /* the clip-path property replaces clip on current browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* the clip-path property replaces clip on current browsers */
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  /* word-wrap allows for words to break only at break points*/
  word-wrap: normal;
}

.topBar {
  display: block;
  position: relative;
}

main {
  align-content: center;
  justify-items: center;
}

.pageContent,
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageContent-flex,
.container-flex {
  display: flex;
  flex-direction: column;
}

/* Top black bar Styling */
.blackBar {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  align-items: center;
  max-width: 100%;
  height: 5em;
}

div.wineSearchbar {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 25%;
}

form.wineSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wineSearchbar input[type="search"] {
  border: none;
  width: 80%;
  height: 2em;
  border-radius: 1em;
  align-items: center;
}

.wineSearchbar input[placeholder="Search wines"] {
  padding-left: 0.4em;
}

button.magnifier {
  align-items: center;
  color: #ffffff;
  text-align: center;
  line-height: 0.2em;
  width: 2.2em;
  height: 2em;
  border: 0.2em;
  border-color: #990033;
  border-radius: 50%;
  background: #990033;
  box-shadow: 0.2em 0.2em #55021e;
  margin: 0.5em;
}

.nonnoVinoLogo {
  order: 2;
}

.checkout {
  color: #ffffff;
  order: 3;
}

.checkout a {
  color: #ffffff;
  font-size: 1.5rem;
}

.total {
  font-weight: 500;
  padding: 0 0.5em;
}

.checkout input[type="submit"] {
  font-family: arial, bold;
  background-color: #990033;
  border: 0.2em solid #55021e;
  border-radius: 2em;
  padding: 0.2em;
  width: 7em;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
}

.checkout input[type="submit"]:hover {
  background-color: #ffffff;
  color: #990033;
  border: 0.2em solid #990033;
  transition: 0.4s;
}

/* Styling the red navigation bar */
nav {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #990033;
  padding: 1em;
  margin-top: 0.05em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #b8860b;
  transition: 0.3s background-color;
}

/* Gold FREE DELIVERY ribbon */
.goldRibbon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h3.goldRibbon {
  background-color: #b8860b;
  color: #ffffff;
  letter-spacing: 0.1em;
  margin-top: -1px;
  height: 1.8em;
  padding: 0.5em;
}

/* Sliding imeage hero*/
img.sliderImg {
  display: block;
  max-width: 100%;
}

/* Wine type button row styling */
.wineButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  align-items: center;
}

button.wineTypeB {
  background-color: #990033;
  border-color: #55021e;
  border-radius: 2em;
  box-shadow: 0.2em 0.2em #55021e;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: 2.2em;
  width: 20%;
  margin: 0.5em 0.5em 1em 0.5em;
  cursor: pointer;
  transition: 0.4s;
}

.wineTypeB:hover {
  background-color: #ffffff;
  color: #990033;
  border: 3px solid #990033;
  transition: 0.4s;
}
/* Styling wine containers */

main {
  display: block;
  margin: auto;
  background-color: #fafad2;
}

/* Styling the  sections */

.wineContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafad2;
  width: 100%;
}

.sidebarLx,
.sidebarRx {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  background-color: #fafad2;
  align-items: center;
  padding: 0;
}

.mainSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  flex: 7;
  align-items: center;
  box-shadow: 5px 0 6px -6 #f5f5f5;
  padding: 0;
}

.bestSellers {
  display: flex;
  text-align: center;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 2em;
}

.sTitle {
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1em;
}

.wineName,
.producer {
  text-transform: capitalize;
}

.wineBottle1,
.wineBottle2,
.wineBottle3 {
  max-width: 10em;
}

.hide {
  color: #ffffff;
}

.priceButton {
  padding-top: 1em;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.price,
.size {
  display: inline-block;
}

.priceQuantity {
  display: block;
}

input[type="number"] {
  font-family: arial;
  text-align: right;
  font-size: 0.8rem;
  border: 0.1em solid #ccc;
  border-radius: 0.4em;
  width: 3.5em;
  height: 2em;
}

input[type="submit"] {
  font-family: arial, bold;
  background-color: #990033;
  border: 0.2em solid #55021e;
  border-radius: 2em;
  padding: 0.25em 0.5em;
  width: 4em;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin: 1em 0.2em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #990033;
  border: 0.2em solid #990033;
  transition: 0.4s;
}

/* Styling the footer */
footer {
  position: relative;
  display: block;
  bottom: 0;
}

.blackFooter {
  display: flex;
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 9em;
  text-align: left;
  font-family: "Arial Narrow", Arial, sans-serif, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 2em 0;
  margin: 0 auto;
}

.footerColLx,
.footerColRx {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.footerColLx {
  color: #ffffff;
}

.footerColLx a {
  color: inherit;
  text-decoration: none;
  line-height: 1.8em;
  margin-left: 2.5em;
}

.footerColRxTop,
.footerColRxBottom {
  display: flex;
  flex-direction: row;
  margin-right: 2.5em;
  justify-content: flex-end;
  height: 50%;
}

.footerColRxTop a i {
  width: 1.3em;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

.footerColRxBottom {
  align-content: flex-end;
  padding-top: 1.1em;
}

.footerColRxBottom span {
  color: #ffffff;
}

.footerColRxBottom span a {
  color: #ffffff;
  font-weight: 800;
}

/* MEDIA QUERIES BELOW */

/* Media queries for Tablet */
@media screen and (max-width: 600px) {
  .pageContent-flex,
  .container-flex {
    display: flex;
  }

  .topBar {
    display: flex;
    flex-direction: column;
  }

  .blackBar {
    flex-direction: column;
    flex: 1;
    padding: 1em;
    max-width: 100%;
  }

  div.wineSearchbar {
    flex: 1;
    order: 2;
    width: 100%;
    padding: 1em;
  }

  div.nonnoVinoLogo {
    flex: 1;
    order: 1;
    padding-top: 1em;
  }

  div.nonnoVinoLogo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nonnoVinoLogo a img {
    display: flex;
    justify-content: space-evenly;
    width: 120%;
  }

  nav {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li,
  nav ul li,
  nav ul li,
  nav ul li {
    display: inline-flex;
    transition-delay: 0.1s;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
  }

  nav ul li:hover,
  nav ul li:hover,
  nav ul li:hover,
  nav ul li:hover {
    background-color: rgb(248, 247, 246, 0.6);
    border: none;
  }

  nav ul li a {
    padding: 0.5em;
  }

  nav ul li a:hover {
    color: #000000;
    font-weight: 800;
  }

  .wineButtons {
    flex-direction: column;
    background-color: #fafad2;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  button.wineTypeB {
    width: 95%;
    font-size: 1.2rem;
    margin: 0.3em 0.3em 0.6em 0.3em;
  }

  .sidebarLx,
  .sidebarRx {
    display: none;
  }

  .mainSection {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    box-shadow: none;
    padding: 0;
  }

  .bestSellers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sTitle {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 1em;
  }

  .wineBottle1,
  .wineBottle2,
  .wineBottle3 {
    max-width: 50em;
    max-height: 50em;
  }

  .dividerLine {
    height: 2px;
    width: 80%;
    background-color: #f5f5f5;
    margin: 2em;
  }

  .hide {
    display: none;
  }

  .wineName,
  .producer {
    font-size: 1.2rem;
  }

  .blackFooter {
    display: flex;
    flex-direction: row;
  }
  .footerColLx,
  .footerColRx {
    display: flex;
    flex-direction: column;
  }

  .footerColRx {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footerColLx,
  .footerColRx {
    width: 50%;
  }

  .footerColRxTop,
  .footerColRxBottom {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

/* Media query for mobile */
@media screen and (max-width: 450px) {
  h3.goldRibbon {
    display: none;
  }

  .footerColRxBottom span a {
    font-weight: 400;
  }
}
