* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: arial, sans-serif;
  position: relative;
}

/* for screen readers only - text will be not visible*/
/* the clip property is deprecated. It works on older browsers */
.screenReaderOnly {
  border: 0;
  /* the clip-path property replaces clip on current browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* the clip-path property replaces clip on current browsers */
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  /* word-wrap allows for words to break only at break points*/
  word-wrap: normal;
}

.topBar {
  display: block;
  position: relative;
}

main {
  align-content: center;
  justify-items: center;
}

.pageContent,
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageContent-flex,
.container-flex {
  display: flex;
  flex-direction: column;
}

/* Top black bar Styling */
.blackBar {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  align-items: center;
  max-width: 100%;
  height: 5em;
}

div.wineSearchbar {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 25%;
}

form.wineSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wineSearchbar input[type="search"] {
  border: none;
  width: 80%;
  height: 2em;
  border-radius: 1em;
  align-items: center;
}

.wineSearchbar input[placeholder="Search wines"] {
  padding-left: 0.4em;
}

button.magnifier {
  align-items: center;
  color: #ffffff;
  text-align: center;
  line-height: 0.2em;
  width: 2.2em;
  height: 2em;
  border: 0.2em;
  border-color: #990033;
  border-radius: 50%;
  background: #990033;
  box-shadow: 0.2em 0.2em #55021e;
  margin: 0.5em;
}

.nonnoVinoLogo {
  order: 2;
}

.checkout {
  color: #ffffff;
  order: 3;
}

.checkout a {
  color: #ffffff;
  font-size: 1.5rem;
}

.total {
  font-weight: 500;
  padding: 0 0.5em;
}

.checkout input[type="submit"] {
  font-family: arial, bold;
  background-color: #990033;
  border: 0.2em solid #55021e;
  border-radius: 2em;
  padding: 0.2em;
  width: 7em;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
}

.checkout input[type="submit"]:hover {
  background-color: #ffffff;
  color: #990033;
  border: 0.2em solid #990033;
  transition: 0.4s;
}

/* Styling the red navigation bar */
nav {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #990033;
  padding: 1em;
  margin-top: 0.05em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #b8860b;
  transition: 0.3s background-color;
}

/* Styling wine containers */

.wineContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafad2;
  width: 100%;
}

.sidebarLx,
.sidebarRx {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  background-color: #fafad2;
  padding: 1em;
}

/* Styling inner sidebarLx with filter criteria */

.pageLink {
  padding: 0.5em;
}

span.aPageLink {
  margin-top: 1.2em;
}

.aPageLink a {
  font-size: 0.9rem;
}

.filtersContainer {
  align-items: center;
  justify-content: center;
}

p.textF {
  display: block;
}

span.filter,
span.clear {
  color: #2c2c2c;
  font-size: 0.7em;
  padding-top: 0.5em;
}

span.filter {
  float: left;
}

span.clear {
  float: right;
}

.solidLine {
  margin-top: 1.2em;
  border: 1px solid #2c2c2c;
  margin-bottom: 0.8em;
}

form.filterForm {
  display: inline-flex;
}

.filterRow {
  padding: 0.5em;
}

.filterRow > input[type="text"],
.filterRow > input[type="range"] {
  max-width: 100%;
  margin-top: 0.2em;
}

p.sidedF {
  display: flex;
}

span.min {
  float: left;
}

span.max {
  float: right;
}
/* Styling the main section*/
.mainSection {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #ffffff;
  flex: 7;
  align-items: center;
  box-shadow: 5px 0 6px -6px #f5f5f5;
  padding: 0;
}

.wineRow1,
.wineRow2,
.wineRow3 {
  display: flex;
  width: 100%;
  padding: 2em 1em;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.wineBottle {
  position: relative;
  max-width: 15em;
  width: 15em;
  height: 25em;
  text-align: center;
  align-items: center;
}

.wineImg {
  max-width: 100%;
}

.wineName,
.producer {
  text-align: center;
  font-size: 1rem;
}

.wineBottle > .priceContainer {
  align-items: center;
  vertical-align: super;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.price,
.size {
  display: inline-flex;
}

input[type="number"] {
  font-family: arial;
  text-align: right;
  font-size: 0.8rem;
  border: 0.1em solid #ccc;
  border-radius: 0.4em;
  width: 3.5em;
  height: 2em;
}

.addB {
  font-family: arial, bold;
  background-color: #990033;
  border: 0.2em solid #55021e;
  border-radius: 2em;
  padding: 0.25em 0.5em;
  width: 4em;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin: 1em 0.2em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
}

.addB:hover {
  background-color: #ffffff;
  color: #990033;
  border: 0.2em solid #990033;
  transition: 0.4s;
}

/* Shopping cart styling */
#shoppingCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
}

.dottedLine {
  border: 0 none;
  border-top: 1px dashed #930033;
  background: none;
  width: 100%;
  height: 0;
}

h2 {
  color: #990033;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  display: inline-flex;
}

h5 {
  padding-top: 4px;
  font-size: 1em;
}

.shopMenu {
  display: flex;
  flex-flow: inline-flex;
  justify-content: space-evenly;
}

.shopList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* Visible only when there is at least one item into the cart */
.shopListRow {
  position: relative;
  display: inline-flex;
  width: 100%;
  top: 50%;
  justify-content: space-evenly;
  border-bottom: 1px dashed #990033;
}

.shopWineImg {
  display: flex;
  width: 50%;
  top: 50%;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  align-items: center;
}

.shopPrice {
  display: inline-flex;
  width: 20%;
  font-size: 1.5em;
  align-items: center;
  justify-items: center;
  transform: translateX(-65px);
}

.shopQuantity {
  max-width: 50px;
  height: 15px;
  border-radius: 4px;
}

.shopQuantityReset {
  position: relative;
  display: inline-flex;
  top: 50%;
  align-items: center;
  transform: translateX(-40px);
}

.shopWineName {
  margin-left: 0.5em;
  font-size: 1.5em;
}

#resetBtn {
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  background-color: #a9a9a9;
  color: #ffffff;
  font-size: 0.8em;
  font-family: arial;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  transform: translateX(5px);
  transition: 0.4s;
}

#resetBtn:hover {
  background-color: #ffffff;
  font-family: arial;
  font-weight: bold;
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
  align-items: center;
  text-transform: uppercase;
  transition: 0.4s;
}

.shopTotal {
  display: flex;
  margin-top: 20px;
  font-size: 1.5em;
  font-family: arial;
  font-weight: 700;
  justify-content: center;
  margin-bottom: 10px;
}

.total {
  margin-right: 5px;
}

.checkoutBottom {
  display: inline-flex;
  justify-content: center;
}

.checkoutBtn {
  font-family: arial;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 0.4em;
  background-color: #000000;
  border: 3px solid #000000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2em;
  box-shadow: 1px 1px #2c2c2c;
  color: #ffffff;
  height: 2em;
  width: 10em;
  margin: 9px 4px;
  cursor: pointer;
  transition: 0.4s;
}

.checkoutBtn:hover {
  background-color: #930033;
  color: #ffff00;
  border: 3px solid #000000;
  transition: 0.4s;
}

/* Styling the footer */
footer {
  position: relative;
  display: block;
  bottom: 0;
}

.blackFooter {
  display: flex;
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 9em;
  text-align: left;
  font-family: "Arial Narrow", Arial, sans-serif, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 2em 0;
  margin: 0 auto;
}

.footerColLx,
.footerColRx {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.footerColLx {
  color: #ffffff;
}

.footerColLx a {
  color: inherit;
  text-decoration: none;
  line-height: 1.8em;
  margin-left: 2.5em;
}

.footerColRxTop,
.footerColRxBottom {
  display: flex;
  flex-direction: row;
  margin-right: 2.5em;
  justify-content: flex-end;
  height: 50%;
}

.footerColRxTop a i {
  width: 1.3em;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

.footerColRxBottom {
  align-content: flex-end;
  padding-top: 1.1em;
}

.footerColRxBottom span {
  color: #ffffff;
}

.footerColRxBottom span a {
  color: #ffffff;
  font-weight: 800;
}

/* MEDIA QUERIES BELOW */

@media screen and (max-width: 965px) {
  .pageLink {
    display: none;
  }

  .wineContainers {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: none;
    padding: 0;
  }

  .sidebarRx {
    display: none;
  }

  .sidebarLx {
    display: flex;
    flex-direction: row;
  }

  p.textF,
  span.filter,
  span.clear {
    display: inline-flex;
    width: 100%;
  }

  .solidLine {
    margin-top: 0;
    border: 1px solid #2c2c2c;
    margin-bottom: 0.8em;
  }

  .filterForm {
    display: inline-flex;
    flex-direction: row;
  }

  div.filterRow {
    display: inline-flex;
    flex-direction: row;
    padding: 0.5em;
    flex: 1;
    align-items: center;
  }

  .filterRow > input[type="text"],
  .filterRow > input[type="range"] {
    width: 15em;
    margin-top: 0;
  }

  span.min {
    display: none;
  }

  .filterRow > label {
    padding-right: 0.2em;
  }
}

/* Media queries for Tablet */
@media screen and (max-width: 770px) {
  .pageContent-flex,
  .container-flex {
    display: flex;
  }

  .topBar {
    display: flex;
    flex-direction: column;
  }

  .blackBar {
    flex-direction: column;
    flex: 1;
    padding: 1em;
    max-width: 100%;
  }

  div.wineSearchbar {
    flex: 1;
    order: 2;
    width: 100%;
    padding: 1em;
  }

  div.nonnoVinoLogo {
    flex: 1;
    order: 1;
    padding-top: 1em;
  }

  div.nonnoVinoLogo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nonnoVinoLogo a img {
    display: flex;
    justify-content: space-evenly;
    width: 120%;
  }

  nav {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li,
  nav ul li,
  nav ul li,
  nav ul li {
    display: inline-flex;
    transition-delay: 0.1s;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
  }

  nav ul li:hover,
  nav ul li:hover,
  nav ul li:hover,
  nav ul li:hover {
    background-color: rgb(248, 247, 246, 0.6);
    border: none;
  }

  nav ul li a {
    padding: 0.5em;
  }

  nav ul li a:hover {
    color: #000000;
    font-weight: 800;
  }

  .mainSection {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    box-shadow: none;
    padding: 0;
  }
  .wineRow1,
  .wineRow2,
  .wineRow3 {
    display: flex;
    flex-direction: column;
  }

  .wineBottle {
    max-width: 100%;
    max-height: 50em;
  }

  .dividerLine {
    height: 2px;
    width: 80%;
    background-color: #f5f5f5;
    margin: 2em;
  }

  .hide {
    display: none;
  }

  .wineName,
  .producer {
    font-size: 1.2rem;
  }

  .blackFooter {
    display: flex;
    flex-direction: row;
  }
  .footerColLx,
  .footerColRx {
    display: flex;
    flex-direction: column;
  }

  .footerColRx {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footerColLx,
  .footerColRx {
    width: 50%;
  }

  .footerColRxTop,
  .footerColRxBottom {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

/* Media query for mobile */
@media screen and (max-width: 450px) {
  h3.goldRibbon {
    display: none;
  }

  .footerColRxBottom span a {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
